<style type="text/css">
button.btn.btn-primary.finish {
    display: none !important;
}
</style>
<div ng-controller="selectErrorInstancesController">
    
    <h4 ng-if="model.allErrorInstances.length == 0">All Vms are in Good State</h4>
    <section ng-if="model.allErrorInstances.length > 0">
        
        <md-checkbox aria-label="Select All" class="md-primary" ng-checked="isChecked()" md-indeterminate="isIndeterminate()"  ng-click="toggleAll()">
              <span ng-if="isChecked()">Un-</span>Select All
        </md-checkbox>

        <div layout="column" layout-wrap layout-gt-sm="row">
            <div flex-xs flex="33" ng-repeat="vm in model.allErrorInstances">
                <md-checkbox md-no-ink
                             class="md-primary"
                             ng-click="toggleVmsLists(vm,model.recoverInstancesSpec.selectedInstances)"
                           	 ng-checked="exists(vm, model.recoverInstancesSpec.selectedInstances)"
                             ng-required="model.recoverInstancesSpec.selectedInstances.length==0"
                             value="{$vm$}">
                    {$vm.instance_name$}
                </md-checkbox>
            </div>
            <div flex-xs flex="33" ng-if="model.allErrorInstances.length % 3 == 2"></div>
        </div>
    </section>
    <md-checkbox ng-model="devpurpose" >
         For Development Purpose
    </md-checkbox>
    <pre ng-show="devpurpose">{$model.recoverInstancesSpec | json $} </pre>

     <pre ng-show="devpurpose">{$model.allErrorInstances | json $} </pre>
</div>
