{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Physical_Monitor" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Physical_Monitor") %}
{% endblock page_header %}

{% block main %}
<div>
     <iframe src="{{CPU_USAGE}}" width="1000" height="300" frameborder="0"></iframe>
</div>
<br/>
<div>
     <iframe src="{{RAM_USAGE}}" width="1000" height="300" frameborder="0"></iframe>
  </div>
<br/>
<div>
     <iframe src="{{DISK_USAGE}}" width="1000" height="300" frameborder="0"></iframe>
  </div>
<br/>
<div >
     <iframe src="{{DISK_READ}}" width="1000" height="300" frameborder="0"></iframe>
  </div>

<div>
     <iframe src="{{DISK_WRITE}}" width="1000" height="300" frameborder="0"></iframe>
  </div>

<div>
     <iframe src="{{BYTES_SENT}}" width="1000" height="300" frameborder="0"></iframe>
</div>

<div>
     <iframe src="{{BYTES_RECEVIED}}" width="1000" height="300" frameborder="0"></iframe>
  </div>

{% endblock %}


