{% load horizon i18n %}
{% load themes %}

<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
            <div class="pull-left image">
              <img src="{% themable_asset 'img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{ request.user.username }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
		</div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>

		<ul class="sidebar-menu">
			{% for dashboard, panel_info in components %}
      			{% if user|has_permissions:dashboard %}
            		<li class="header">{{ dashboard.name }}</li>
					{% for group, panels in panel_info.iteritems %}
              			{% with panels|has_permissions_on_list:user as filtered_panels %}
                			{% if filtered_panels %}
                  				{% if group.name %}
									<li class="treeview">
									  <a href="#sidebar-drawer-{{ dashboard.slug }}-{{ group.slug }}"><i class="fa fa-link"></i> <span> {{ group.name }}</span> <i class="fa fa-angle-left pull-right"></i></a>
									  <ul class="treeview-menu">
								{% endif %}
                  				{% for panel in filtered_panels %}
										<li>
											<a href="{{ panel.get_absolute_url }}"><i class="fa fa-circle-o"></i> {{ panel.name }}</a>
										</li>
								{% endfor %}
                  				{% if group.name %}
									  </ul>
									</li>
								{% endif %}
                			{% endif %}
              			{% endwith %}
            		{% endfor %}
				{% endif %}
    		{% endfor %}
          </ul>


	</section>
</aside>
