{% load branding i18n %}
{% load context_selection %}
{% load themes %}

 {% theme_dir as theme_dir %}
 <link href='{{ STATIC_URL }}{{ theme_dir }}/naanal_theme/css/bootstrap.min.css' rel="stylesheet"/>
 <link href='{{ STATIC_URL }}{{ theme_dir }}/naanal_theme/css/AdminLTE.min.css' rel="stylesheet"/>
 <link href='{{ STATIC_URL }}{{ theme_dir }}/naanal_theme/css/_all-skins.min.css' rel="stylesheet"/>
 <script src='{{ STATIC_URL }}{{ theme_dir }}/naanal_theme/js/app.min.js'></script>
<style type="text/css">
       td .btn-group {
            white-space: nowrap; }
                        td .btn-group > .btn-group, td .btn-group > .btn {
                          float: none; }
</style>
    <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="{% themable_asset 'img/logo_icon.png' %}" width="50" height="50" alt="Logo Image"></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Naanal</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Create <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
          
                    <li> <a id="instances__action_launch-ng" ng-click="modal.openLaunchInstanceWizard({ successUrl: '/virtual/' })" ng-controller="LaunchInstanceModalController as modal" class="btn-launch ng-scope" href="javascript:void(0);"> Create Vms </a></li>

                    <li><a class='ajax-modal' href="{% url 'horizon:virtual:networks:create'%}">Create Networks</a></li>
                    
                    <li><a class='ajax-modal' href="{% url 'horizon:virtual:images:images:create'%}">Create Images</a></li>
                   
                    <li><a class='ajax-modal' href="{% url 'horizon:virtual:volumes:volumes:create'%}">Create Volumes</a></li>
                   

                  </ul>
                </li> 

              <!-- Control Sidebar Toggle Button -->
                {% include "header/_user_menu.html" %}
          <!--    <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li> -->
            </ul>
          </div>
        </nav>

    </header>
