

<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="http://www.naanal.in" class="site_title"><i class="fa fa-cloud"></i> <span>Naanal Tech</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
   
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Monitoring</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Home </a>
          </li>
          <li><a><i class="fa fa-heartbeat"></i> Services </a>
          </li>
          <li><a><i class="fa fa-server"></i> Hosts </a>
          </li>
          <li><a><i class="fa fa-laptop"></i> VMs </a>
          </li>
          <li><a><i class="fa fa-bell-o"></i> Alarms <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/monitoring/overview/">Overview</a></li>
              <li><a href="/monitoring/alarmdefs/">Alarm Definitions</a></li>
              <li><a href="/monitoring/alarms/">Alarms</a></li>
             
            </ul>
          </li>
          <li><a href="/monitoring/notifications/"><i class="fa fa-envelope-o"></i>Notifications</a>
          </li>

           <li><a><i class="fa fa-users"></i>Identity <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/identity/">Projects</a></li>
              <li><a href="/identity/users">Users</a></li>
              <li><a href="/identity/groups">Groups</a></li>
              <li><a href="/identity/roles">Roles</a></li>
            </ul>
          </li>
        </ul>
      </div>
      
    </div>
    <!-- /sidebar menu -->

   
</div>