.table_actions_menu .dropdown-menu > li > button.btn-default, .actions_column .dropdown-menu > li > button.btn-default {
    color: #3c3838;
}
.btn-default {
    color: #333 !important;
}
.btn-primary {
    color: #fff !important;
}
a:not(.md-button) {
    color: #428bca;
}
/*a:hover, a:focus {
    color: #2a6496 !important;
  }*/
.breadcrumb {
  margin-top: 23px !important;
}

.table-striped.datatable tbody tr.odd.status_unknown td, .table-striped.datatable tbody tr.even.status_unknown td {
    background-color: #faeeb6;
}

.table-striped.datatable tbody tr.odd.status_unknown:hover td, .table-striped.datatable tbody tr.even.status_unknown:hover td {
    background-color: #faeeb6;
}
.wrapper {
        overflow: visible !important;
}
.content-wrapper {
    min-height: 100vh !important;
}

li {
    list-style: none !important;
}
