.btn-danger {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #122b40 !important;
}
.btn-danger:hover {
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff !important;
  background-color: #204d74 !important;
  border-color: #122b40 !important;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none !important;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}
.btn-danger .badge {
  color: #337ab7 !important;
  background-color: #fff !important;
}
.breadcrumb {
  margin-top: 23px !important;
}