 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div ng-controller="identityUsersTableController">
    <md-card>

        <md-card-content>
            <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

            </section>

            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Users">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
                            <section flex="" layout-align="center center">
                                <md-input-container ng-show="!selected.length" md-no-float="" class="md-block left">
                                    <md-icon>
                                        <i class="material-icons">search</i>
                                    </md-icon>
                                    <input type="text" ng-model="searchquery" placeholder="Search By name, computer..."/>
                                </md-input-container>
                                <md-content ng-show="selected.length" class="md-padding">
                                    <p class="md-padding md-title">
                                        {$selected.length$} {$selected.length &gt; 1 ? 'items' : 'item'$} selected
                                    </p>
                                </md-content>
                            </section>
                            <span flex=""></span>
                            <section flex="" layout-align="end center">
                                <md-button
                                        class="md-fab md-mini md-primary btn-launch ng-scope" aria-label="view"
                                        ng-hide="selected.length"
                                        ng-click="modal.openCreateUsersWizard()"
                                        ng-controller="CreateUsersModalController as modal">
                                    <md-icon>group_add</md-icon>
                                    <md-tooltip>Create New Users</md-tooltip>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary btn-launch ng-scope"
                                           ng-click="modal.openMapVmsWizard()"
                                           ng-controller="MapVmsModalController as modal">
                                    <md-icon><i class="material-icons">queue_play_next</i></md-icon>
                                    <md-tooltip>Map VMs to users</md-tooltip>
                                </md-button>


                                <md-button class="md-fab md-mini md-primary btn-launch ng-scope"  ng-click="get_Computers()" >
                                    <md-icon><i class="material-icons">queue_play_next</i></md-icon>
                                    <md-tooltip>Unused /Available computers</md-tooltip>
                                </md-button>


                                <md-button class="md-fab md-mini md-primary" aria-label="edit"
                                           ng-show="selected.length"
                                          ng-controller="EditUsersModalController as modal"
                                          ng-click="modal.openEditUsersWizard({users:selected})">
                                    <md-icon>edit</md-icon>
                                    <md-tooltip>Edit</md-tooltip>
                                </md-button>
                                 <md-button class="md-fab md-mini md-primary" aria-label="view"
                                           ng-show="selected.length == 1">
                                    <md-icon>insert_drive_file</md-icon>
                                    <md-tooltip>View</md-tooltip>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary" aria-label="delete"
                                           ng-show="selected.length" ng-click="delete_user()" >
                                    <md-icon>delete</md-icon>
                                    <md-tooltip>Delete</md-tooltip>
                                </md-button>
                            </section>
                        </section>            
                        <style>
                                .disabled {
                                        text-decoration: line-through;
                                     }
​                        </style>
                        

                        <md-table-container>
                            <table md-table md-row-select multiple ng-model="selected" >
                                <thead md-head md-order="query.order">
                                <tr md-row>
                                    <th md-column><span class="md-title">User Name</span></th>
                                    <th md-column><span class="md-title">Email</span></th>
                                    <th md-column><span class="md-title">Assigned Computer</span></th>
                                    <th md-column><span class="md-title">Last Logon</span></th>
                                    <th md-column><span class="md-title">Status</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="user" md-select-id="name" md-auto-select
                                    ng-repeat="user in ldapusers | filter: searchquery | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" ng-class="{'disabled' : user.status=='514' || user.status=='66050'} ">
                                    <td md-cell><span class="md-subhead">{$user.username$}</span></td>
                                    <td md-cell><span class="md-body-2">{$user.mail$}</span></td>
                                    <td md-cell>
                                        <span class="md-body-2">
                                            <span ng-if="user.computer != null">{$user.computer$}</span>
                                            <span ng-if="user.computer == null">----</span>
                                        </span>
                                    </td>
                                    <td md-cell>
                                         <span class="md-body-2">
                                            <span ng-if="user.lastLogon == '1601-01-01 00:00:00+00:00'">
                                                Never
                                            </span>
                                             <span ng-if="user.lastLogon != '1601-01-01 00:00:00+00:00'">
                                                {$user.lastLogon | date $}
                                            </span>
                                         </span>
                                    </td>
                                    <td md-cell>                                    
                                    <span ng-if="user.status=='512' || user.status=='66048'"> Enabled</span>
                                    <span ng-if="user.status=='514' || user.status=='66050'"> Disabled</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        

                        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                                             md-total="{$ldapuserscount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>


                </md-tab>
                <md-tab label="Computers">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
        <md-select ng-model="selectedOption" ng-init="selectedOption = 'available'" style="min-width: 200px;">
                              <md-option ng-value="item.value" ng-repeat="item in sortOptions">{$item.name$}</md-option>
                            </md-select>
                        </section>         

                        <md-table-container>
                            <table md-table multiple ng-model="selected" >
                                <thead md-head md-order="query.order">
                                <tr md-row>
                                    <th md-column><span class="md-title">Computer</span></th>
                                    <th md-column><span class="md-title">Status</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="computer in allComputers | filter:customFilter" >                                  
                                    <td md-cell>
                                    {$computer.computername$}                              
                                    </td>

                                    <td md-cell>
                                    {$computer.status$}
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        

                        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                                             md-total="{$ldapuserscount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>