 <div ng-controller="identityUsersTableController">
    <md-card>

        <md-card-content>
            <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

            </section>

            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Users">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
                            <section flex="" layout-align="center center">
                                <md-input-container ng-show="!selected.length" md-no-float="" class="md-block left">
                                    <md-icon>
                                        <i class="material-icons">search</i>
                                    </md-icon>
                                    <input type="text" ng-model="searchquery" placeholder="Search By name, computer..."/>
                                </md-input-container>
                                <md-content ng-show="selected.length" class="md-padding">
                                    <p class="md-padding md-title">
                                        {$selected.length$} {$selected.length &gt; 1 ? 'items' : 'item'$} selected
                                    </p>
                                </md-content>
                            </section>
                            <span flex=""></span>
                            <section flex="" layout-align="end center">
                                <md-button
                                        class="md-fab md-mini md-primary btn-launch ng-scope" aria-label="view"
                                        ng-hide="selected.length"
                                        ng-click="modal.openCreateUsersWizard()"
                                        ng-controller="CreateUsersModalController as modal">
                                    <md-icon>group_add</md-icon>
                                    <md-tooltip>Create New Users</md-tooltip>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary btn-launch ng-scope"
                                           ng-click="modal.openMapVmsWizard()"
                                           ng-controller="MapVmsModalController as modal">
                                    <md-icon><i class="material-icons">queue_play_next</i></md-icon>
                                    <md-tooltip>Map VMs to users</md-tooltip>
                                </md-button>                              

                                <md-button class="md-fab md-mini md-primary" aria-label="edit"
                                           ng-show="selected.length"
                                          ng-controller="EditUsersModalController as modal"
                                          ng-click="modal.openEditUsersWizard({users:selected})">
                                    <md-icon>edit</md-icon>
                                    <md-tooltip>Edit</md-tooltip>
                                </md-button>
                                 <md-button class="md-fab md-mini md-primary" aria-label="view"
                                           ng-show="selected.length == 1">
                                    <md-icon>insert_drive_file</md-icon>
                                    <md-tooltip>View</md-tooltip>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary" aria-label="delete"
                                           ng-show="selected.length" ng-click="delete_user()" >
                                    <md-icon>delete</md-icon>
                                    <md-tooltip>Delete</md-tooltip>
                                </md-button>

                                 <md-button class="md-fab md-mini md-primary" aria-label="delete"
                                           ng-show="selected.length" ng-click="enable_user()" >                                           
                                    <md-icon>accessibility</md-icon>
                                    <md-tooltip>Enable User</md-tooltip>
                                </md-button>

                            </section>
                        </section>            
                        <style>
                                .disabled {
                                        text-decoration: line-through;
                                     }
​                        </style>
                        

                        <md-table-container>
                            <table md-table md-row-select multiple ng-model="selected" >
                                <thead md-head md-order="userquery.order">
                                <tr md-row>
                                    <th md-column><span class="md-title">User Name</span></th>
                                    <th md-column><span class="md-title">Email</span></th>
                                    <th md-column><span class="md-title">Assigned Computer</span></th>
                                    <th md-column><span class="md-title">Last Logon</span></th>
                                    <th md-column><span class="md-title">Status</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="user" md-select-id="name" md-auto-select
                                    ng-repeat="user in ldapusers | filter: searchquery | orderBy: userquery.order | limitTo: userquery.limit : (userquery.page -1) * userquery.limit" ng-class="{'disabled' : user.status=='514' || user.status=='66050'} ">
                                    <td md-cell><span class="md-body-2" >{$user.username$}</span></td>
                                    <td md-cell><span class="md-body-2">{$user.mail$}</span></td>
                                    <td md-cell>
                                        <span class="md-body-2">
                                            <span ng-if="user.computer != null">{$user.computer$}</span>
                                            <span ng-if="user.computer == null">----</span>
                                        </span>
                                    </td>
                                    <td md-cell>
                                         <span class="md-body-2">
                                            <span ng-if="user.lastLogon == '1601-01-01 00:00:00+00:00'">
                                                Never
                                            </span>
                                             <span ng-if="user.lastLogon != '1601-01-01 00:00:00+00:00'">
                                                {$user.lastLogon | date $}
                                            </span>
                                         </span>
                                    </td>
                                    <td md-cell>                                    
                                    <span ng-if="user.status=='512' || user.status=='66048'"> Enabled</span>
                                    <span ng-if="user.status=='514' || user.status=='66050'"> Disabled</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        

                        <md-table-pagination md-limit="userquery.limit" md-limit-options="[5, 10, 15, 30, 50, 100, 200]" md-page="userquery.page"
                                             md-total="{$ldapuserscount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>


                </md-tab>
                <md-tab label="Computers">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
        <md-select ng-model="selectedOption" ng-init="selectedOption = 'available'" style="min-width: 200px;">
                              <md-option ng-value="item.value" ng-repeat="item in sortOptions">{$item.name$}</md-option>
                            </md-select> 
                            <md-input-container layout="row" layout-xs="column" style="min-width: 200px;">
                              <md-icon>
                                <i class="material-icons">search</i>
                                 </md-icon>
                                <input type="text" ng-model="searchquery1" placeholder="Search By Computer Name"/>
                            </md-input-container>                                    
                        </section>                          
                        

                        <md-table-container>
                            <table md-table multiple ng-model="selected" >
                                <thead md-head md-order="computerquery.order">
                                <tr md-row>
                                    <th md-column><span class="md-title">Computer</span></th>
                                     <th md-column><span class="md-title">UserName</span></th>
                                    <th md-column><span class="md-title">Status</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="computer in allComputers | filter:customFilter| filter: searchquery1 | orderBy: computerquery.order | limitTo: computerquery.limit : (computerquery.page -1) * computerquery.limit">                                  
                                    <td md-cell>
                                    {$computer.computername$}                              
                                    </td>
                                    <td md-cell>
                                    {$computer.username$}                              
                                    </td>
                                    <td md-cell>
                                    <span ng-if="computer.status=='available'"> Available</span>
                                    <span ng-if="computer.status=='not available'"> Assigned</span>
                                   
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        

                        <md-table-pagination md-limit="computerquery.limit" md-limit-options="[5, 10, 15, 30, 50, 100, 200]" md-page="computerquery.page"
                                             md-total="{$ldapuserscount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>
                </md-tab>





        
                <md-tab label="Security Groups">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
                            <section flex="" layout-align="center center">
                                <md-input-container ng-show="!selected.length" md-no-float="" class="md-block left">
                                    <md-icon>
                                        <i class="material-icons">search</i>
                                    </md-icon>
                                    <input type="text" ng-model="searchquery" placeholder="Search By name"/>
                                </md-input-container>
                                <md-content ng-show="selected.length" class="md-padding">
                                    <p class="md-padding md-title">
                                        {$selected.length$} {$selected.length &gt; 1 ? 'items' : 'item'$} selected
                                    </p>
                                </md-content>
                            </section>
                            <span flex=""></span>
                            <section flex="" layout-align="end center">
                                <md-button
                                        class="md-fab md-mini md-primary btn-launch ng-scope" aria-label="view"
                                        ng-hide="selected.length"
                                        ng-click="modal.openCreateGroupsWizard()"
                                        ng-controller="CreateGroupsModalController as modal">
                                    <md-icon>group_add</md-icon>
                                    <md-tooltip>Create New Group</md-tooltip>
                                </md-button>

                                



                                <!--  <md-button class="md-fab md-mini md-primary" aria-label="delete"
                                           ng-show="selected.length" ng-click="delete_Group()" >
                                    <md-icon>delete</md-icon>
                                    <md-tooltip>Delete Groups</md-tooltip>
                                </md-button>


                                <md-button class="md-fab md-mini md-primary btn-launch ng-scope"
                                           ng-click="modal.openMapVmsWizard()"
                                           ng-controller="MapVmsModalController as modal">
                                    <md-icon><i class="material-icons">queue_play_next</i></md-icon>
                                    <md-tooltip>Add users to Group</md-tooltip>
                                </md-button>                              

                          
                               
                                 <md-button class="md-fab md-mini md-primary" aria-label="view"
                                           ng-show="selected.length == 1">
                                    <md-icon>insert_drive_file</md-icon>
                                    <md-tooltip>Delete users from Group<</md-tooltip>
                                </md-button>                                -->
                                

                            </section>
                        </section>            
                        <style>
                                .disabled {
                                        text-decoration: line-through;
                                     }
​                        </style>
                        

                        <md-table-container>
                            <table md-table  multiple ng-model="selected" >
                                <thead md-head md-order="userquery.order">
                                <tr md-row>
                                    <th md-column><span class="md-title">Group Name</span></th>
                                    <th md-column><span class="md-title">Add/Delete</span></th>
                                    <!-- <th md-column><span class="md-title">Policys applied</span></th> -->
                                    <th md-column><span class="md-title">Delete</span></th>
                                    
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="group" md-select-id="name" md-auto-select
                                    ng-repeat="group in usergroups | filter: searchquery | orderBy: userquery.order | limitTo: userquery.limit : (userquery.page -1) * userquery.limit" >
                                    <td md-cell><span class="md-body-2" >{$group.cn$}</span></td>
                                    <td md-cell>
                                    <md-button
                                        aria-label="view"                                        
                                        ng-click="modal.openSecurityUsersWizard({group})"
                                        ng-controller="SecurityUsersModalController as modal">
                                    <md-icon>group_add</md-icon>
                                    <md-tooltip>ADD/DELETE Users</md-tooltip>
                                    </md-button>



                                   <!--  <span class="md-body-2" ng-repeat ="username in group.usernames">{$username$}</span>
 -->
                                    </td>
                                    <!-- <td md-cell><span class="md-body-2" >{$group.policys$}</span></td> -->
                                    <td>
                                        <md-button class="md-fab md-mini md-primary" aria-label="delete"    ng-model="group_dn" ng-init="group_dn=group.cn" ng-click="delete_Group1(group_dn)" >

                                    <md-icon>delete</md-icon>
                                    <md-tooltip>Delete Groups</md-tooltip>
                                    
                                </md-button>
                                    </td>


                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>

                        

                        <md-table-pagination md-limit="userquery.limit" md-limit-options="[5, 10, 15, 30, 50, 100, 200]" md-page="userquery.page"
                                             md-total="{$ldapuserscount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>


                </md-tab>


<md-tab label="Security Policy">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
                            <section flex="" layout-align="center center">
                                <md-input-container ng-show="!selected.length" md-no-float="" class="md-block left">
                                    <md-icon>
                                        <i class="material-icons">search</i>
                                    </md-icon>
                                    <input type="text" ng-model="searchquery" placeholder="Search By name"/>
                                </md-input-container>
                                <md-content ng-show="selected.length" class="md-padding">
                                    <p class="md-padding md-title">
                                        {$selected.length$} {$selected.length &gt; 1 ? 'items' : 'item'$} selected
                                    </p>
                                </md-content>
                            </section>
                            <span flex=""></span>
                            
                        </section>            
                        <style>
                                .disabled {
                                        text-decoration: line-through;
                                     }
​                        </style>
                        

                        <md-table-container>
                            <table md-table  multiple ng-model="selected" >
                                <thead md-head md-order="userquery.order">
                                <tr md-row>
                                    <th md-column><span class="md-title">Group Name</span></th>
                                    
                                    <th md-column><span class="md-title">Apply Policy </span></th>
                                    
                                    
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="group" md-select-id="name" md-auto-select
                                    ng-repeat="group in usergroups | filter: searchquery | orderBy: userquery.order | limitTo: userquery.limit : (userquery.page -1) * userquery.limit" >
                                    <td md-cell><span class="text-info" class="md-body-2" >
                                    <p class="text-primary">{$group.cn$}</p>

                                    </span></td>
                                   
                                    <td md-cell><span class="md-body-2" >
                                        
                                         <md-button
                                         class="md-fab md-mini md-primary" 
                                         aria-label="view"                                        
                                        ng-click="modal.openSecurityPolicyWizard({group})"
                                        ng-controller="SecurityPolicyModalController as modal">
                                    <md-icon>security</md-icon>
                                    <md-tooltip>Apply Policy</md-tooltip>
                                    </md-button>


                                    </span></td>
                                   
                                </tr>
                                </tbody>

                            </table>
                        </md-table-container>

                        

                        <md-table-pagination md-limit="userquery.limit" md-limit-options="[5, 10, 15, 30, 50, 100, 200]" md-page="userquery.page"
                                             md-total="{$ldapuserscount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>


                </md-tab>

















            </md-tabs>
        </md-card-content>
    </md-card>
</div>