 <div ng-controller="overviewUsersMonitorController">
    <md-card>

        <md-card-content>
            <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

            </section>

            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Live Monitoring">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
                            <section flex="" layout-align="center center">
                                <md-input-container ng-show="!selected.length" md-no-float="" class="md-block left">
                                    <md-icon>
                                        <i class="material-icons">search</i>
                                    </md-icon>
                                    <input type="text" ng-model="searchquery" placeholder="Search By name, computer..."/>
                                </md-input-container>
                                <md-content ng-show="selected.length" class="md-padding">
                                    <p class="md-padding md-title">
                                        {$selected.length$} {$selected.length &gt; 1 ? 'items' : 'item'$} selected
                                    </p>
                                </md-content>
                            </section>
                            <span flex=""></span>
                            <section flex="" layout-align="end center">
                                <md-button class="md-fab md-mini md-primary" aria-label="delete"
                                           ng-show="selected.length" ng-click="delete_user()" >
                                    <md-icon>delete</md-icon>
                                    <md-tooltip>Delete</md-tooltip>
                                </md-button>
                            </section>
                        </section>            
                        <style>
                                .disabled {
                                        text-decoration: line-through;
                                     }
​                        </style>
                        

                        <md-table-container>
                            <table md-table md-row-select multiple ng-model="selected" >
                                <thead md-head md-order="processquery.order">
                                <tr md-row>
                                    <th md-column>Process</th>
                                    <th md-column>user</th>
                                    <th md-column>computer</th>
                                    <th md-column>CPU %</th>
                                    <th md-column>RAM (in MB)</th>
                                    <th md-column>Disk Read</th>
                                    <th md-column>Disk Write</th>
                                    <th md-column>Bytes Rec</th>
                                    <th md-column>Bytes Send</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="user" md-select-id="name" md-auto-select
                                    ng-repeat="process in processes | filter: searchquery | orderBy: processquery.order | limitTo: processquery.limit : (processquery.page -1) * processquery.limit">
                                    <td md-cell><span class="md-body-2">{$process[8]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[10]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[1]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[2]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[9]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[3]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[4]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[5]$}</span></td>
                                    <td md-cell><span class="md-body-2">{$process[6]$}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        

                        <md-table-pagination md-limit="processquery.limit" md-limit-options="[5, 10, 15, 30, 50, 100, 200]" md-page="processquery.page"
                                             md-total="{$processcount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>


                </md-tab>
<!--                 <md-tab label="Computers">
                    <md-content class="md-padding">
                        <section layout="row" layout-xs="column">
        <md-select ng-model="selectedOption" ng-init="selectedOption = 'available'" style="min-width: 200px;">
                              <md-option ng-value="item.value" ng-repeat="item in sortOptions">{$item.name$}</md-option>
                            </md-select> 
                            <md-input-container layout="row" layout-xs="column" style="min-width: 200px;">
                              <md-icon>
                                <i class="material-icons">search</i>
                                 </md-icon>
                                <input type="text" ng-model="searchquery1" placeholder="Search By Computer Name"/>
                            </md-input-container>                                    
                        </section>                          
                        

                        <md-table-container>
                            <table md-table multiple ng-model="selected" >
                                <thead md-head md-order="computerquery.order">
                                <tr md-row>
                                    <th md-column><span class="md-title">Computer</span></th>
                                     <th md-column><span class="md-title">UserName</span></th>
                                    <th md-column><span class="md-title">Status</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="computer in allComputers | filter:customFilter| filter: searchquery1 | orderBy: computerquery.order | limitTo: computerquery.limit : (computerquery.page -1) * computerquery.limit">                                  
                                    <td md-cell>
                                    {$computer.computername$}                              
                                    </td>
                                    <td md-cell>
                                    {$computer.username$}                              
                                    </td>
                                    <td md-cell>
                                    <span ng-if="computer.status=='available'"> Available</span>
                                    <span ng-if="computer.status=='not available'"> Assigned</span>
                                   
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        

                        <md-table-pagination md-limit="computerquery.limit" md-limit-options="[5, 10, 15, 30, 50, 100, 200]" md-page="computerquery.page"
                                             md-total="{$ldapuserscount$}" md-page-select="true"
                                             md-boundary-links="true"></md-table-pagination>
                    </md-content>
                </md-tab> -->
            </md-tabs>
        </md-card-content>
    </md-card>
</div>