<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center" layout-wrap="" style="background-color: rgb(236, 240, 245);">

    <div flex-xs="" flex-gt-xs="50" flex-gt-md="25" flex-lg="25"  layout="row" layout-align="center center" ng-repeat="vm in machines">
      <md-card style="min-width: 370px">
        <div layout="column" layout-align="center center">
        <i class="fa fa-laptop fa-5x md-card-image normal" ng-class="{'normal': vm.health == 1,'warning': vm.health == 2,'danger': vm.health == 3,'grey': vm.health == 0 }" aria-hidden="true"></i>
        <span class="md-headline" ng-class="{'normal': vm.health == 1,'warning': vm.health == 2,'danger': vm.health == 3,'grey': vm.health == 0 }">{$vm.instance_name$}</span>
        </div>
        
        <md-card-content>
           <md-subheader class="md-no-sticky" data-toggle="tooltip" title="{$vm.floating_ip$}">
           		<span ng-if="vm.health !=0"> 
           			<span ng-if="vm.Active_Sessions == 0">Nobody using this Machine</span>
           			<span ng-if="vm.Active_Sessions == 1">{$vm.Active_Sessions$} user actively working.</span>
           			<span ng-if="vm.Active_Sessions > 1">{$vm.Active_Sessions$} users actively working.</span>
           			
           		</span>
           		<span ng-if="vm.health == 0"> VM is powered off</span>
           </md-subheader>
          <md-list-item class="md-1-line" ng-click="null" ng-hide="vm.health == 0">
             <p class="md-subhead">Ping / RDP </p>
              <div class="md-list-item-text" layout="row">
                <p class="md-subhead">
                  <i class="fa" ng-class="{'fa-check': vm.ping_status == true,'fa-times': vm.ping_status == false }"></i> /
                  <i class="fa" ng-class="{'fa-check': vm.rdp_status == true,'fa-times': vm.rdp_status == false }"></i>
                </p>
              </div>
          </md-list-item>
          <md-list-item class="md-1-line" ng-click="null" ng-class="{ 'vmalert': vm.CPU_Proc > 75 }" ng-hide="vm.health == 0">
             <p class="md-subhead">CPU Usage</p>
              <div class="md-list-item-text" layout="row">
                <p class="md-subhead">{$vm.CPU_Proc | number : 0$}%</p>
              </div>
          </md-list-item>
          <md-list-item class="md-1-line" ng-click="null" ng-class="{ 'vmalert': vm.RAM_Available < 2147483648 }" ng-hide="vm.health == 0">
             <p class="md-subhead">Available RAM</p>
              <div class="md-list-item-text" layout="row">
                <p class="md-subhead">{$vm.RAM_Available * 0.000000001 | number : 1$} GB</p>
              </div>
          </md-list-item>
          <md-list-item class="md-1-line" ng-click="null" data-toggle="tooltip" title="Read: {$vm.diskread * 0.000001 | number : 1$} MBs, Write: {$vm.diskwrite * 0.000001 | number : 1$} MBs" ng-class="{ 'vmalert': vm.Disk_Sec > 0.015 }" ng-hide="vm.health == 0">
             <p class="md-subhead">Disk Speed/ <br/> Latency</p>
              <div class="md-list-item-text" layout="row">
                <p class="md-subhead">
                {$vm.disktotal * 0.000001 | number : 1$} MBs / {$vm.Disk_Sec * 1000 | number : 2$} ms
                </p>
              </div>
          </md-list-item>
          <md-list-item class="md-1-line" ng-click="null" data-toggle="tooltip" title="Received: {$vm.NW_Received * 0.000001 | number : 1$} MBs, Sent: {$vm.NW_Sent * 0.000001 | number : 1$} MBs" ng-class="{ 'vmalert': vm.NW_Total > 10194304 }" ng-hide="vm.health == 0">
             <p class="md-subhead">Network Rate</p>
              <div class="md-list-item-text" layout="row">
                <p class="md-subhead">{$vm.NW_Total * 0.000001 | number : 1$} MBs </p>
              </div>
          </md-list-item>
          

        </md-card-content>
      </md-card>
  
    </div>
  </md-content>