 .nav-sm .container.body .right_col {
    min-height: 100vh;
 }
span.fa {
    display: -webkit-inline-box !important;
}
a > span.fa.fa-chevron-down {
    display: none !important;
}
a:not(.md-button) {
    color: #428bca;
}
a.btn.btn-primary {
    color: #fff !important;
}
.btn-success {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}
